@font-face {
  font-family: "KGSorry";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("@/assets/fonts/KGSorryNotSorryChub.ttf") format("truetype");
}

.container {
  font-family: "Alata", sans-serif;
}

.title-site {
  font-family: "Bubblegum Sans", sans-serif;
  /* font-family: "Acme", sans-serif; */
}

.content-site,
.navbar-site {
  z-index: 20;
}

.content-site {
  z-index: 20;
}

h1,
h2,
h3 {
  font-family: "KGSorry" !important;
}

.page {
  h2 {
    color: #3ba23f;
    font-size: 1.5em;
    margin-bottom: 0.5em;
    padding-top: 1em;
  }

  h3 {
    font-size: 1.3em;
    margin-bottom: 0.5em;
    padding-top: 0.5em;
    font-weight: 500;
  }

  .titles {
    position: relative;
    text-align: center;
    padding-bottom: 0.5em;
  }

  .titles:after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 3em; /* or 100px */
    margin-left: -1.5em;
    height: 0.5em;
    margin-top: 1em;
    border-radius: 1em;
    //background: linear-gradient(to right, #065f46, #0daa22 50%);
    background: #3ba23f;
  }
}

button.plain {
  display: inline-block;
  padding: 0.5rem 1rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
  }
  &:enabled {
    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background-color: #3ba23f;

      transition: all 0.3s;
      z-index: -1;
    }
  }
  &:hover {
    color: #fff;
    &:before {
      width: 100%;
    }
  }
}

article {
  ul {
    //margin-top: -1em;
    margin-left: 1em;
    margin-bottom: 1em;
    li {
      list-style-type: disc;
    }
  }

  a {
    text-decoration: underline;
  }

  p {
    margin-bottom: 1em;
  }
}

.snipcart {
  a {
    text-decoration: underline;
  }

  .cgv {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }

  .snipcart-payment__form-container {
    margin-top: 1.5em;
  }
}
